canli_kurulum.md
migrate_add_content.sh
nginx_canli_redirect.conf
nginx_yigitgulyurt.conf
nginx_canli.conf
yigitgulyurt.service
deploy.sh
.env.example
migrate_stream_config.sh
folderico-LopZVw.ico
desktop.ini
*.pyc
instance/yigitgulyurt.db
client_secret_574148881822-f84qpsn9bbarqvjomp8jvdk3e5s0qhh7.apps.googleusercontent.com.json
.env
yigitgulyurt
obsidian.txt
yigitgulyurt2